* {
    padding: 0px;
    margin: 0px;
}

.nav_container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #D8D3D3;
    color: white;
}

.nav_items {
    display: flex;
    list-style: none;
}

.nav_item {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}