.parent {
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* justify-content: flex-end; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
    width: 100%;
}

.child1 {
    background-color: green;
    padding: 70px;
    color: white;
    font-weight: 700;
    font-size: 40px;
    order: 3;
    flex-grow: 1;
}

.child2 {
    background-color: greenyellow;
    padding: 70px;
    color: white;
    font-weight: 700;
    font-size: 40px;
}

.child3 {
    background-color: red;
    padding: 70px;
    color: white;
    font-weight: 700;
    font-size: 40px;
    flex-grow: 3;
}